@media (max-width: 641px) {
	.todo__popap_container {
    width: 320px;
	}

	.todo__popap_btn-close {
		top: -20px;
    right: -21px;
	}
}

@media (max-width: 320px) {
	.todo {
		width: 270px;
	}

	.todo__popap_container {
    width: 270px;
	}
}